#! /bin/bash

export XILINX_INSTALL_DIR="/Vivado"
export PETALINUX_INSTALL_DIR="/Petalinux"
export XILINX_VERSION="2018.3"
export ADI_HDL_PROJECT="/home/user/Projects/ADI/hdl"
export META_ADI_PROJECT="/home/user/Projects/ADI/meta-adi"
export PETALINUX_PROJECT="fft_zc702_linux"
export SDK_PROJECT="$ADI_HDL_PROJECT/projects/fmcomms2/zc702/fmcomms2_zc702.sdk/ad9361/src"
export LINUX_KERNEL_DIR="/home/user/Projects/ADI/pna-linux"
